body
{
  color: rgb(0, 0, 0);
  background: #b5e39b;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  letter-spacing:10px;
  border-radius: 18px;
  font-size:20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
label{
  font-size:19px;
  color: black;
  background-color: blanchedalmond;
  border-radius:13px;
  padding: 5px;
}


